<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        <link rel="icon" href="/img/weather.png"/>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="potrait"><img src="/img/me.jpg"></div> 
        </div>

        {{>footer}}
    </body>
</html>