<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/weather.png"/>
        <title>Home</title>
    </head>

    <body> 
        <div class="main-content">
            {{>header}}
            
            <div id="formBox">
                <p id="description">Get real time weather quickly!</p>
                <form>
                    <input type="search" placeholder="e.g London"/>
                    <button>SEARCH</button>
                </form>
            </div>

            <p id="message-1"></p>
            <p id="message-2">Enter A Location...</p>
        </div>

        {{>footer}}

    <script src="/js/app.js"></script>
    </body>
</html>